# Copyright 2023 The MITRE Corporation. ALL RIGHTS RESERVED
# Approved for public release. Distribution unlimited 23-02181-13.

firmware/**/*.d
firmware/**/*.o
firmware/**/*.axf
firmware/**/*.bin

bootloader/**/*.d
bootloader/**/*.o
bootloader/**/*.axf
bootloader/**/*.bin

**/__pycache__/